@import "../../../styles/colors";

.text {
  font-size: 16px;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
  &.text_header {
    font-size: 16px;
    font-weight: bold;
  }
  &.subtitle {
    color: $subtitle-font;
    font-size: 12px;
  }
}

.text_subtitle {
  color: $subtitle-font;
  padding: 0;
  margin: 0 0 0 2px;
  font-size: 12px;
  &.list {
    font-size: 16px;
  }
  &.pointerOnHover {
    &:hover {
      cursor: pointer;
    }
  }
}